@charset "UTF-8";
/*HEADER*/
header {
  position: relative;
  /*menu*/
}

.bg-light {
  background: rgb(255, 196, 0);
  background: linear-gradient(90deg, rgba(255, 196, 0, 0.9640231092) 5%, rgba(255, 255, 255, 0.8603816527) 96%);
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgb(0, 0, 0);
}

a:hover {
  color: orange;
}

/*Estilos globales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  list-style: none;
  /* Estilos del cuerpo de la página */
}
* body {
  /* height: 100vh;*/
  background-color: #1d1d1d;
  /*
  background-size: cover;/*justes para la imagen url*/
  /*background-position: center;*/
}

/* Hero*/
section#hero {
  height: calc(30vh + 90px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

#hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h1 {
  flex: 1;
  flex-wrap: wrap;
  color: white;
  padding-top: 15px;
  padding-left: 25px;
}

.contenedor-card-b {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  margin-top: 10px;
  overflow: hidden;
  padding-top: 50px;
}

.card-a-a, .card-b-b, .card-c-c {
  margin: 5px; /* Ajusta este margen para agregar separación entre las tarjetas */
}

.card-a-a, .card-b-b, .card-c-c p {
  color: rgb(0, 0, 0); /* Ajusta el color del texto si es necesario */
}

.card-a-a {
  display: flex;
  align-items: center;
  width: 75%;
  height: 154px;
  border-radius: 10px;
  background: orange;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
  padding: 10px;
}

.card-a-a img {
  max-width: 145px;
  height: auto;
  margin-right: 10px;
  border-radius: 10px;
}

.card-a-a p {
  margin: 0;
  flex: 1;
  padding-left: 85px; /* Añade un poco de padding a la izquierda */
}

.text-container {
  display: flex;
  flex-direction: column; /* Alinea los párrafos en columna */
  flex: 1;
}

.text-container p {
  margin: 0;
  padding-left: 5px; /* Añade un poco de padding a la izquierda */
}

.card-b-b {
  margin-top: 10px; /* Empuja el párrafo hacia la parte inferior */
  width: 75%;
  height: 154px;
  border-radius: 10px;
  background: orange;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
  padding: 10px;
  display: flex;
  align-items: center;
}

.card-b-b img {
  max-width: 145px;
  height: auto;
  margin-right: 10px;
  border-radius: 10px;
}

.card-b-b p {
  margin: 0;
  flex: 1;
  padding-left: 85px; /* Añade un poco de padding a la izquierda */
}

.card-c-c {
  margin-top: 10px; /* Empuja el párrafo hacia la parte inferior */
  width: 75%;
  height: 154px;
  border-radius: 10px;
  background: orange;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
  padding: 10px;
  display: flex;
  align-items: center;
}

.card-c-c img {
  max-width: 145px;
  height: auto;
  margin-right: 10px;
  border-radius: 10px;
}

.card-c-c p {
  margin: 0;
  flex: 1;
  padding-left: 85px; /* Añade un poco de padding a la izquierda */
}

.card-c-d {
  margin-top: 10px; /* Empuja el párrafo hacia la parte inferior */
  width: 75%;
  height: 154px;
  border-radius: 10px;
  background: orange;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
  padding: 10px;
  display: flex;
  align-items: center;
}

.card-c-d img {
  max-width: 145px;
  height: auto;
  margin-right: 10px;
  border-radius: 10px;
}

.card-c-d p {
  margin: 0;
  flex: 1;
  padding-left: 85px; /* Añade un poco de padding a la izquierda */
}

.card-c-e {
  margin-top: 10px; /* Empuja el párrafo hacia la parte inferior */
  width: 75%;
  height: 154px;
  border-radius: 10px;
  background: orange;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
  padding: 10px;
  display: flex;
  align-items: center;
}

.card-a-a, .card-b-b, .card-c-c, .card-c-d, .card-c-e {
  display: flex;
  align-items: center;
  width: 75%;
  height: 154px;
  border-radius: 10px;
  background: orange;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
  padding: 10px;
  margin-top: 17px;
}

.card-a-a img, .card-b-b img, .card-c-c img, .card-c-d img, .card-c-e img {
  max-width: 145px;
  height: auto;
  margin-right: 10px;
  border-radius: 10px;
}

.text-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.text-container p {
  margin: 0;
  padding-left: 5px;
}

/*Servicio*/
/* Estilos para contenedor de cuadros */
.cuadros_container {
  /*aca tambien estan los cuadros de Formas de envios*/
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* Alinea los cuadros en la parte inferior */
  margin-top: 550px; /* Margen superior para comenzar a bajar los cuadros */
  /*flex-wrap automatisa que no desborde nuestro body*/
  flex-wrap: wrap;
}

.cuadrado-one {
  flex-direction: row;
}

/* Estilos para cada cuadro */
.cuadro-custom {
  width: 450px;
  height: 250px; /* Altura inicial de los cuadros */
  margin-right: 10px; /* Espacio entre cuadros */
  background-color: orange;
  margin-top: -240px;
}

/* Estilos para contenedor de imagen */
.imagen-container-custom {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para contenedor interno de imagen */
.inner-image-container-custom {
  max-width: 100%;
  max-height: 100%;
}

/* Estilos para la imagen dentro del contenedor */
.inner-image-container-custom img {
  max-width: 100%;
  max-height: 100%;
}

/* Estilos para etiqueta */
.etiqueta {
  position: absolute;
  bottom: 5px; /* Distancia desde abajo del cuadro */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semi-transparente */
  color: white;
  padding: 5px 10px;
  font-size: 12px;
}

.contenedor-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  margin-top: 10px;
  overflow: hidden;
  padding-top: 50px;
}

.card-1, .card-2, .card-3 {
  margin: 10px; /* Ajusta este margen para agregar separación entre las tarjetas */
}

.card-1 img, .card-2 img, .card-3 img {
  max-width: 150px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: auto;
  margin-bottom: 15px; /* Añade espacio debajo de la imagen */
  border-radius: 10px;
}

.card-2 img, .card-3 img {
  max-width: 150px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: auto;
  margin-bottom: 15px; /* Añade espacio debajo de la imagen */
  border-radius: 10px;
  padding: 20px;
  margin-left: 15px;
}

.card-1 p, .card-2 p, .card-3 p {
  margin: 0;
  text-align: center; /* Centra el texto horizontalmente */
}

.card-1 {
  width: 190px;
  height: 254px;
  border-radius: 30px;
  background: orange;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
}

.card-2 {
  width: 190px;
  height: 254px;
  border-radius: 30px;
  background: orange;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
}

.card-3 {
  width: 190px;
  height: 254px;
  border-radius: 30px;
  background: orange;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
}

/*Forma de pago*/
.t-pago {
  height: calc(50vh - 90px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 3rem;
  margin-bottom: 30px;
}

.cuadros_container2 {
  /*aca tambien estan los cuadros de Formas de envios*/
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* Alinea los cuadros en la parte inferior */
  margin-top: 50px; /* Margen superior para comenzar a bajar los cuadros */
  /*flex-wrap automatisa que no desborde nuestro body*/
  flex-wrap: wrap;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: 500px; /* Ajusta esto al valor máximo de altura que desees */
}

.carousel-inner img {
  width: 100%;
  height: auto; /* Mantiene la proporción de la imagen */
  max-height: 500px; /* Asegura que las imágenes no excedan esta altura */
  object-fit: cover; /* Recorta la imagen si es necesario para llenar el área */
}

/*Formas de envio*/
.contenedor-card-a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  margin-top: 10px;
  overflow: hidden;
  padding-top: 50px;
}

.card-a, .card-b, .card-c {
  margin: 10px; /* Ajusta este margen para agregar separación entre las tarjetas */
}

.card-a p, .card-b p, .card-c p {
  margin-top: 10px; /* Empuja el párrafo hacia la parte inferior */
  color: rgb(10, 7, 7); /* Ajusta el color del texto si es necesario */
  text-align: center;
}

.card-a p {
  margin-top: 39px; /* Empuja el párrafo hacia la parte inferior */
  color: rgb(10, 7, 7); /* Ajusta el color del texto si es necesario */
  text-align: center;
}

.card-a {
  width: 190px;
  height: 254px;
  border-radius: 30px;
  background: orange;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
}

.card-b {
  width: 190px;
  height: 254px;
  border-radius: 30px;
  background: orange;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
}

.card-c {
  width: 190px;
  height: 254px;
  border-radius: 30px;
  background: orange;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
}

.card-a img {
  max-width: 10px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: auto;
  margin-bottom: 15px; /* Añade espacio debajo de la imagen */
  border-radius: 10px;
  padding-top: 20px;
}

.card-a img, .card-b img, .card-c img {
  max-width: 150px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: auto;
  margin-bottom: 15px; /* Añade espacio debajo de la imagen */
  border-radius: 10px;
}

.card-b img, .card-c img {
  max-width: 150px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: auto;
  margin-bottom: 15px; /* Añade espacio debajo de la imagen */
  border-radius: 10px;
  padding: 20px;
  margin-left: 15px;
}

.contenedor {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: orange;
  display: flex;
  height: 40px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

/* Estilos de la lista */
li {
  list-style: none;
}

/* Estilos de los enlaces */
a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

/*hover sirve para cambiar los colores de los botones cuando los estas seleccionenado en este caso los votones con likns, esto es parte de una seuda clase la cual cambia sus estados*/
a:hover {
  color: orange;
}

/*MAP*/
.map {
  padding: 5px;
  background-color: #1d1d1d;
}

.cuadro {
  width: 250px;
  height: 370px;
  background-color: rgb(255, 168, 7);
  border: 1px solid black;
  margin-right: 20px; /* Espacio entre los cuadros */
  overflow: hidden; /* Oculta el contenido que excede los límites del cuadro */
}

.cuadros-container {
  display: flex;
  flex-wrap: wrap; /*para que los cuadros se pongan uno arriba del otro cuando se achica la pantalla*/
  justify-content: center;
  align-items: center;
  padding-bottom: 80px; /* Espacio alrededor de los cuadros */
  margin-top: 10px; /* Desplazamiento hacia arriba */
  overflow: hidden; /* Oculta el contenido que excede los límites del cuadro */
  padding-top: 10px;
}

.imagen-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-image-container {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Oculta el contenido de la imagen que excede los límites del contenedor */
}

.inner-image-container img {
  width: 100%; /* Ancho de la imagen dentro del contenedor */
  height: 100%; /* Altura automática para mantener la proporción */
  object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor sin deformarla */
  display: block; /* Asegura que la imagen se muestre como bloque */
}

.home {
  background-color: orange;
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.in-flex {
  color: white;
  flex: 1;
  min-width: 300px;
}

.in-flex:first-child {
  flex: 2;
  padding: 25px;
  background-color: hsl(0, 0%, 0%);
  margin: 20px;
  margin-bottom: 0px;
  border-radius: 10px;
}

.in-flex div {
  padding: 25px;
  background-color: hsl(0, 0%, 0%);
  margin: 20px;
  border-radius: 10px;
}

/*# sourceMappingURL=style.css.map */
